@{
    @model List<LanguageBlogs.Models.Blog>

    ViewBag.Title = "Home";
}

<div class="row text-center">
    <h1>Language Blogs</h1>
</div>

<div class="container">

    @foreach (var blog in Model)
    {
        <div class="row text-center">
            <div class="col">
                <h2><a href="@blog.Link">@blog.Title</a></h2>
            </div>
            <div class="col text-center">
                <p>
                    @blog.Description
                </p>
            </div>

            <div class="row">
                @foreach (var post in blog.Posts)
                {
                    <div class="col-md-4">
                        <div class="post">
                            <a href="@post.Link">@post.Title</a>
                                @Html.Raw(@post.Preview)
                        </div>
                    </div>
                }
            </div>
        </div>
    }

</div>