<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="row navbar-default">
                <div class="col-xs-1 navbar-btn">
                    @Html.ActionLink("Home", "Index", "Home")
                </div>
                <div class="col-xs-1 navbar-btn">
                    @Html.ActionLink("About", "About", "Home")
                </div>
                <div class="col-xs-1 navbar-btn">
                    @Html.ActionLink("Contact", "Contact", "Home")
                </div>
            </div>
            <div>
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Language Blogs</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
